.m-header {

  margin-bottom: 10px;

  .navbar{ height: 52px; background-color: #4a4a4a;}

  .logo {
    width: 230px;
    height: 100%;
    background-color: #357EBD;
    float: left;
    a {
      display: block;
      height: 100%;
      text-indent: -9999px;
    }
  }

  .nav {
    float: left;
    font-size: 14px;
    li {
      float: left;
    }
    a{
      display: block;
      color: #eee;
      height: 52px;
      line-height: 52px;
      padding: 0 20px;
      &:hover{
        background-color: #404040;
        color: #fff;
      }
    }
  }

  .search{
    float: right;
    margin-top: 12px;
    margin-right: 22px;
    .form {
      display: inline-block;
      margin-right: 5px;
    }
  }

  .speedbar {
    clear: both;
    color: #666;
    background-color: #f7f7f7;
    padding: 8px 20px 13px;
    line-height: 22px;
    overflow: hidden;
    height: 14px;
  }
}